<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<!-- database target -->
		<target name="database"
				xsi:type="Database"
				connectionStringName="NLog"
				commandText="exec dbo.Usp_InsertLog
                            @level,
                            @callSite,
                            @type,
                            @message,
                            @stackTrace,
                            @innerException,
                            @additionalInfo">
			<parameter name="@level" layout="${level}" />
			<parameter name="@callSite" layout="${callsite}" />
			<parameter name="@type" layout="${exception:format=type}" />
			<parameter name="@message" layout="${exception:format=message}" />
			<parameter name="@stackTrace" layout="${exception:format=stackTrace}" />
			<parameter name="@innerException"
                        layout="${exception:format=:innerFormat=ShortType,Message,Method:MaxInnerExceptionLevel=1:InnerExceptionSeparator=}" />
			<parameter name="@additionalInfo" layout="${message}" />
		</target>
	</targets>

	<rules>
		<!-- database logger -->
		<logger levels="Error,Warn,Fatal" name="databaseLogger" writeTo="database"/>
	</rules>
</nlog>