<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="SecurityLevel" value="3"/>
    <add key="Locale" value="ko"/>
  </appSettings>
  <connectionStrings>
    <add name="TestDBConnectionString"
         connectionString="Data Source=localhost;Initial Catalog=Test;Integrated Security=True"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>