@{
    ViewData["Title"] = "Home Page";
}
<style>
    a {
        padding: 5px;
        margin: 5px;
        color: white;
    }

    .main-div {
        margin-bottom: 20px;
        padding-bottom: 20px;
    }
</style>

<div class="text-center main-div">
    <h1 class="display-4">Welcome</h1>
    <h3>View Component Example</h3>

    @(await Component.InvokeAsync("SocialLinks", new { IconsToShow = 5 }))

</div>    